table {
	margin: auto;
	border-spacing: 10px;
	
}
.header-bg
{
	margin-left:auto;
	margin-right:auto;
	width:1200;
	background-color:#9999ff;
	height:100px;
}

.header-bg {
	text-decoration: none;
}

.header
{
	font-size:25px;
	font-weight: bold;
	text-decoration: none;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
.promo
{
	font-size:18px;
}
.footer{
    position: relative;
    bottom:0;
    height: 50px;
    background-color: black;
    color: white;
    width: 1200px;
    text-align: center;
    margin: auto;
}
.primary {
	text-align: center;
}
.secondary {
	display: inline-block;
	text-align: center;
	border: 1px solid red;
	margin: auto;
	width: 1200px;
}

.sidebar1 {
	background-color: gray;
	float: left;
	width: 125px;
}
.sidebar2 {
	background-color: gray;
	float: left;
	width: 125px;
}
.body {
	background-color: none;
	border: 1px solid black;
	border-radius: 4px;
	float: left;
	width: 945px;
	margin: auto;
	padding: 20px;
}
.box {
	background-color: black;
	color: white;
	width: 200px;
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	border-spacing: 10px;
	border-radius: 5px;
	padding: 4px;
	text-align: center;
	font-weight: bold;
	margin: 2px;
}
